<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>CommentRepository</display-name>
    <servlet-name>CommentRepository</servlet-name>
    <servlet-class>klu.repository.CommentRepository</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentRepository</servlet-name>
    <url-pattern>/CommentRepository</url-pattern>
  </servlet-mapping>
  <display-name>MutualFundsSDP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>